:root{
    /* Colors */
    /* Primary */
    --darkCyan:hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);
    /* Neutral */
    --veryDarkBlue:hsl(212, 21%, 14%);
    --darkGrayishBlue:hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);

    /* Typography */
    --fs:0.875rem;   /* 14px/16 */
}

/* modern css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
 
  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    font-family: "Montserat", sans-serif;
    font-size: var(--fs);
    /* font-size: clamp(0.875rem,0.8rem+1vw,2rem); */
    font-weight: 500;
    
  }
  .product{
    max-width: 20rem;
    margin: 1.25rem 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 15px;
    background-color: var(--white);

  }
  .product__image{
    background-image: url("images/image-product-mobile.jpg");
    padding: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .product__section{ 
    margin: 1.25rem;  
  }
  .product__name{
    text-transform:uppercase ;
    letter-spacing: 0.75rem;
  }
  .product__title{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem 0;
    max-inline-size: 15rem;
  }
  .product__desctription{
    font-family: "Montserat",sans-serif;
    color: var(--darkGrayishBlue);
    font-size: var(--fs);
  }
 
  .product__price-section{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 1rem 0;
  }
  .product__price-discount{
    color: var(--darkCyan);
    /* padding: 0.625rem 0; */
    font-size:1.5rem;
    font-weight: 700;
  }
  .product__btn-section{
    display: flex;
    gap:0.625rem;
    justify-content: center;
    padding: 0.8em 0.5em;
    border-radius: 0.625rem;
    background-color: var(--darkCyan);
    cursor: pointer;    
  }
  .product__btn-section a{
    text-decoration: none;
    color:var(--white);
  }
  .product__btn-section:hover{
    background-color: var(--veryDarkBlue);
  }
  @media (min-width: 23.4375em) {
    .product{
        display:flex;
        background-color:var(--cream);
        max-width: 37em;
        
        
    }
    .product__image{
        background-image: url("images/image-product-desktop.jpg");
        border-top-right-radius:0;
        border-bottom-left-radius:15px;
    }
    .product__section{
        margin:0;
        padding: 35px 20px;
        /* padding-inline: 1rem; */
        background-color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    
    }
    .product__title{
      max-inline-size: 10ch;
    }
    
  }